version: "3.9"

services:
  api:
    container_name: globalpulse_api
    build:
      context: .
      dockerfile: infrastructure/docker/api.Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}

  worker:
    container_name: globalpulse_worker
    build:
      context: .
      dockerfile: infrastructure/docker/worker.Dockerfile
    command: python app/workers/sentiment_worker.py
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
  
  rss_worker:
    container_name: globalpulse_rss_worker
    build:
      context: .
      dockerfile: infrastructure/docker/rss.Dockerfile
    command: python app/workers/rss_worker.py
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  dashboard:
    container_name: globalpulse_dashboard
    build:
      context: .
      dockerfile: infrastructure/docker/dashboard.Dockerfile
    command: streamlit run dashboards/streamlit_app.py --server.port=8501 --server.address=0.0.0.0
    volumes:
      - .:/code
    ports:
      - "8501:8501"
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: globalpulse_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: globalpulse_redis
    ports:
      - "6379:6379"

  test:
    build:
      context: .
      dockerfile: infrastructure/docker/test.Dockerfile
    volumes:
      - .:/code
    command: pytest -q

volumes:
  postgres_data: